{% extends "layout/base.html" %}
{% block title %}Cara Kerja{% endblock title %}
{% load static %}
{% block content %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="logo"><a href="{% url 'home' %}"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% url 'home' %}" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
            <li><a class="nav-link scrollto active" href="#">Cara Kerja</a></li>
          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Cara Kerja potadi.ai</h2>
          <p>Potadi.ai adalah inovasi dalam deteksi penyakit daun kentang secara cepat dan akurat.</p>
          <p>Kami merancang platform ini untuk membantu petani dalam memonitor kesehatan tanaman kentang mereka.</p>
          <p>Berikut adalah langkah-langkah utama dalam cara kerja potadi.ai:</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Mengumpulkan Citra Daun Kentang<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Pengguna perlu mengumpulkan citra daun kentang yang ingin dianalisis. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Unggah Citra Daun Kentang ke Platform<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Proses analisis dimulai dengan menerapkan teknologi kecerdasan buatan yang telah kami kembangkan. Algoritma kami dapat mengidentifikasi pola dan tanda-tanda penyakit pada daun kentang dengan tingkat akurasi.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Hasil Deteksi<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Setelah analisis selesai, hasil deteksi akan ditampilkan secara rinci. Pengguna akan mendapatkan informasi tentang jenis penyakit yang mungkin ada pada tanaman kentang berdasarkan citra yang diunggah.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->
{% endblock content %}