{% extends "layout/base.html" %}
{% block title %}Early Blight{% endblock title %}
{% load static %}
{% block content %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="{% url 'home' %}"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="{% url 'home' %}" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link scrollto active" href="#">Healthy</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-md-8 d-flex align-items-stretch custom-border" data-aos="zoom-in" data-aos-delay="100">           
          <div class="section-title text-start text-justify">
            <h2 class="text-center">Early Blight</h2>
            <figure class="figure w-29 float-start m-3">
              <img src="{% static 'assets/images/normal.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="Alt text.">
            </figure>
            <h5>Early Blight (Bercak Kering)</h5>
            <p class="text-justify">
              Penyakit ini disebabkan oleh jamur <i>Alternaria solani.</i>  Gejala awalnya adalah bercak coklat atau hitam pada daun kentang yang berkembang menjadi daun kering. Daun yang terinfeksi dapat rontok, dan tanaman kentang mungkin menghasilkan lebih sedikit umbi. Penyakit ini mendapatkan nama "early blight" karena sering muncul lebih awal dalam musim tanam dan dapat mengenai daun-daun muda kentang. Eearly blight mengalami gejala awal dengan adanya bercak kering pada daun bagian bawah, berwarna coklat berupa tanda khas lingkaran berpusat (seperti  cincin)  pada  bercak  tersebut,  sporulasi  tidak  nampak  seperti  embun  putih.</p>
            <p><b>
              Tanda Gejala Kerusakan :</b>  
              <ol class="text-justify">
                <li>Bercak-bintik Berwarna Coklat: Tanda pertama dari early blight adalah munculnya bercak-bintik berwarna coklat pada daun-daun tanaman kentang. Bercak-bintik ini awalnya kecil, tetapi kemudian berkembang menjadi bercak yang lebih besar.</li>
                <li>Bercak-bintik dengan Pinggiran Tepi Coklat Tua: Bercak-bintik pada early blight sering memiliki pinggiran berwarna coklat tua yang lebih gelap, sementara bagian tengahnya cenderung menjadi berwarna lebih muda. Hal ini menciptakan kontras yang mencolok antara bercak-bintik dan daunnya.</li>
                <li>Daun Mengering: Daun yang terinfeksi early blight dapat mengering dan menjadi rapuh. Daun yang sangat terinfeksi dapat bahkan rontok, meninggalkan batang tanpa daun. Ini dapat mengurangi kapasitas fotosintesis tanaman.</li>
                <!-- ... (Tambahkan poin-poin lainnya) ... -->
              </ol>
            </p>
            <p><b>
              Pencegahan :</b>
              <ol class="text-justify">
                <li>Rotasi Tanaman: Praktik pertanian yang paling efektif dalam mencegah penyakit early blight adalah rotasi tanaman. Jangan menanam kentang atau tanaman anggota keluarga Solanaceae (seperti tomat dan terong) di lokasi yang sama setiap tahun. Ini membantu mengurangi penyebaran penyakit yang mengendap di tanah.</li>
                <li>Pemilihan Varietas yang Tahan: Pilih varietas kentang yang memiliki ketahanan terhadap early blight jika tersedia. Varietas yang tahan akan lebih kebal terhadap infeksi jamur Alternaria solani.</li>
                <li>Jaga Kebersihan Lingkungan: Penting untuk menjaga kebersihan lingkungan pertanian. Hapus sisa-sisa tanaman dan daun yang terinfeksi setelah panen, dan pastikan tidak ada tanaman kentang liar yang tumbuh di sekitar area pertanian.</li>
                <li>Praktik Pertanian yang Baik: Pastikan tanaman mendapatkan cukup nutrisi dan air yang seimbang. Tanaman yang sehat cenderung lebih tahan terhadap penyakit. Hindari over-fertilization, karena tanaman yang terlalu subur dapat menjadi lebih rentan terhadap early blight.</li>
                <li>Penghapusan Daun yang Terinfeksi: Jika Anda melihat tanda-tanda early blight pada daun tanaman kentang, segera potong atau cabut daun-daun yang terinfeksi. Ini akan membantu mencegah penyebaran penyakit ke daun-daun yang sehat.</li>
                <li>Penggunaan Mulsa: Menyediakan lapisan mulsa di bawah tanaman kentang dapat membantu mencegah tanah dari percikan air yang dapat membawa spora penyakit. Mulsa juga membantu menjaga kelembaban dan mencegah tanah dari terlalu kering.</li>
                <li>Jadwal Penanaman yang Tepat: Cobalah untuk menanam kentang pada waktu yang tepat, sehingga masa pertumbuhan utama terjadi ketika kondisi cuaca kurang mendukung untuk perkembangan early blight.</li>
                <li>Penggunaan Fungisida: Jika infeksi early blight sudah sangat merajalela, Anda mungkin perlu menggunakan fungisida. Pastikan untuk mengikuti petunjuk dan dosis yang dianjurkan pada label produk. </li>
              </ol>
            </p>
            <div id="services" class="services section">
              <div class="container">
                  <div class="col-lg-8">
                    <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                      <h4>More...</h4>
                      <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                    </div>
                  </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card service-item first-service">
                      <img src="{% static 'assets/images/card1.jpg' %}" class="card-img-top" alt="App Maintenance Image">
                      <div class="card-body">
                        <h5 class="card-title">Normal</h5>
                        <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                        <a href="{% url 'healthy' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i class="fa fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card service-item first-service">
                      <img src="{% static 'assets/images/card2.jpg' %}" class="card-img-top" alt="Rocket Speed of App Image">
                      <div class="card-body">
                        <h5 class="card-title">Early Blight</h5>
                        <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                        <a href="{% url 'early' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i class="fa fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card service-item first-service">
                      <img src="{% static 'assets/images/card3.jpg' %}" class="card-img-top" alt="Multi Workflow Idea Image">
                      <div class="card-body">
                        <h5 class="card-title">Late Blight</h5>
                        <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                        <a href="{% url 'late' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i class="fa fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
            <!-- Sisipkan teks di sini -->
        </div>
      </div>
    </div>
</section>
{% endblock content %}