{% extends "layout/base.html" %}
{% block title %}Healthy{% endblock title %}
{% load static %}
{% block content %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="{% url 'home' %}"></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="{% url 'home' %}" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
        <li><a class="nav-link scrollto active" href="#">Healthy</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-8 d-flex align-items-stretch custom-border" data-aos="zoom-in" data-aos-delay="100">
        <div class="section-title text-start text-justify">
          <h2 class="text-center">Tanaman yang Sehat</h2>
          <figure class="figure w-29 float-start m-3">
            <img src="assets\images\normal.png" class="figure-img img-fluid rounded img-thumbnail" alt="Alt text.">
          </figure>
          <h5>Daun Sehat</h5>
          <p class="text-justify">
            Daun kentang yang sehat adalah penting untuk pertumbuhan dan perkembangan tanaman kentang yang optimal.
            Memantau kondisi daun kentang secara rutin adalah bagian penting dari pemeliharaan tanaman kentang yang
            sukses. Jika Anda melihat tanda-tanda masalah pada daun, seperti bercak-bintik atau gejala lain yang tidak
            normal, segera identifikasi masalahnya dan ambil tindakan yang sesuai untuk mengatasi masalah tersebut.
            Tindakan pencegahan dan perawatan yang tepat akan membantu menjaga tanaman kentang tetap sehat dan
            menghasilkan hasil panen yang baik.
          </p>
          <p><b>
              Tanda Daun Sehat :</b>
          <ol class="text-justify">
            <li>Warna Hijau yang Cerah: Daun kentang yang sehat memiliki warna hijau yang cerah dan merata. Warna hijau
              yang sejajar menunjukkan adanya klorofil, yang diperlukan untuk proses fotosintesis yang menghasilkan
              makanan untuk tanaman.</li>
            <li>Bebas dari Bercak atau Noda: Daun yang sehat tidak memiliki bercak-bintik berwarna coklat, hitam, atau
              kuning yang dapat menunjukkan infeksi penyakit atau masalah lainnya.</li>
            <li>Daun Utuh dan Tanpa Kerusakan Fisik: Daun kentang yang sehat tidak memiliki sobekan, lubang, atau
              kerusakan fisik lainnya. Kerusakan fisik pada daun dapat mengganggu proses fotosintesis.</li>
            <li>Ukuran dan Bentuk yang Normal: Daun kentang yang sehat memiliki ukuran dan bentuk yang normal sesuai
              dengan varietasnya. Ukuran daun dapat bervariasi tergantung pada varietas kentang yang ditanam, tetapi
              daun seharusnya tidak terlalu kecil atau terlalu besar.</li>
            <li>Pertumbuhan Simetris: Daun kentang yang sehat tumbuh secara simetris dengan cabang-cabang daun yang
              seimbang dan terdistribusi dengan baik di seluruh tanaman.</li>
            <li>Tekstur Daun yang Kaku dan Tidak Limpah: Daun kentang yang sehat memiliki tekstur kaku dan tidak lembek.
              Daun yang lembek dapat menunjukkan masalah dengan kadar air tanah atau masalah lain dalam perawatan
              tanaman.</li>
            <li>Tidak Ada Tanda-tanda Pengeringan Berlebihan: Daun kentang yang sehat tidak menunjukkan tanda-tanda
              pengeringan berlebihan, seperti ujung daun yang kering dan keriting. Ini bisa menjadi indikasi bahwa
              tanaman membutuhkan lebih banyak air.</li>
            <li>Sisi Bawah Daun Bersih: Sisi bawah daun kentang yang sehat biasanya bersih dan tidak memiliki
              tanda-tanda jamur, hama, atau serangan penyakit.</li>
            <li>Tidak Ada Gejala Stres: Daun yang sehat tidak menunjukkan gejala stres seperti layu, keriting, atau
              perubahan warna yang tidak wajar.</li>
            <!-- ... (Tambahkan poin-poin lainnya) ... -->
          </ol>
          </p>
          <p><b>
              Pemeliharaan Tanaman :</b>
          <ol class="text-justify">
            <li>Pemilihan Varietas yang Tahan Penyakit: Pilih varietas kentang yang memiliki ketahanan terhadap penyakit
              tertentu, seperti late blight atau early blight, jika penyakit tersebut menjadi masalah di daerah Anda.
            </li>
            <li>Rotasi Tanaman: Praktik rotasi tanaman adalah kunci untuk mencegah penyakit dan menjaga tanah tetap
              subur. Jangan menanam kentang di lokasi yang sama dalam beberapa tahun berturut-turut. Rotasi dengan
              tanaman yang berbeda membantu mengurangi penyebaran penyakit dan menjaga keseimbangan nutrisi tanah.</li>
            <li>Ketahui Musim Tanam yang Tepat: Tanamlah kentang pada musim yang sesuai dengan iklim daerah Anda.
              Pastikan tanaman kentang mendapatkan cukup sinar matahari dan kondisi lingkungan yang sesuai.</li>
            <li>Penggunaan Benih yang Berkualitas: Gunakan benih kentang yang berkualitas tinggi, bebas dari penyakit
              dan cacat. Benih yang baik adalah dasar yang penting untuk tanaman yang sehat.</li>
            <li>Penyiraman yang Tepat: Berikan air dengan cukup, tetapi hindari over-irigasi. Pastikan tanah tetap
              lembab, tetapi tidak terlalu basah, karena tanah yang terlalu basah dapat menyebabkan penyakit dan
              pembusukan akar.</li>
            <li>Pemupukan yang Tepat: Berikan pupuk yang sesuai dan cukup untuk memenuhi kebutuhan nutrisi tanaman
              kentang. Pemupukan berlebihan atau tidak cukup dapat menyebabkan masalah.</li>
            <li>Penggunaan Mulsa: Menyediakan lapisan mulsa di bawah tanaman kentang dapat membantu menjaga kelembaban
              tanah, mengurangi pertumbuhan gulma, dan melindungi umbi dari sinar matahari langsung yang dapat
              menyebabkan hijauan.</li>
            <li>Pengendalian Hama: Monitor tanaman secara teratur untuk tanda-tanda serangan hama, seperti ulat atau
              kumbang Colorado. Jika terjadi serangan hama, pertimbangkan penggunaan metode pengendalian biologis atau
              bahan kimia yang tepat.</li>
            <li>Pengendalian Penyakit: Awasi tanaman untuk tanda-tanda penyakit seperti late blight atau early blight.
              Jika terdeteksi, singkirkan daun yang terinfeksi dan pertimbangkan penggunaan fungisida yang sesuai.</li>
            <li>Kebersihan dan Sanitasi: Pastikan area sekitar pertanian Anda bersih dari sisa-sisa tanaman dan gulma
              yang dapat menjadi inang penyakit.</li>
            <li>Pemeliharaan Tanah: Jaga kualitas tanah dengan pemeliharaan yang baik, seperti penambah kompos dan pupuk
              organik, untuk memperbaiki struktur tanah dan memperkaya nutrisinya.</li>
            <li>Pemantauan Rutin: Pantau tanaman Anda secara teratur untuk tanda-tanda masalah. Tindakan pencegahan dan
              perbaikan dini dapat menghindari masalah yang lebih besar di masa depan.</li>
          </ol>
          </p>
          <div id="services" class="services section">
            <div class="container">
              <div class="col-lg-8">
                <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                  <h4>More...</h4>
                  <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="card service-item first-service">
                    <img src="{% static 'assets/images/card1.jpg' %}" class="card-img-top" alt="App Maintenance Image">
                    <div class="card-body">
                      <h5 class="card-title">Normal</h5>
                      <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                      <a href="{% url 'healthy' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i
                          class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card service-item first-service">
                    <img src="{% static 'assets/images/card2.jpg' %}" class="card-img-top"
                      alt="Rocket Speed of App Image">
                    <div class="card-body">
                      <h5 class="card-title">Early Blight</h5>
                      <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                      <a href="{% url 'early' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i
                          class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card service-item first-service">
                    <img src="{% static 'assets/images/card3.jpg' %}" class="card-img-top"
                      alt="Multi Workflow Idea Image">
                    <div class="card-body">
                      <h5 class="card-title">Late Blight</h5>
                      <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                      <a href="{% url 'late' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i
                          class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sisipkan teks di sini -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}