{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Potadi.ai{% endblock %}

{% block custom_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet">

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<style>
  /* Add your custom styles here */
  .main-banner {
    position: relative;
    overflow: hidden;
  }

  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }

  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }

  ul,
  li {
    list-style-type: none;
  }

  .ack-link {
    display: block;
    line-height: -10;
    /* Menghilangkan ruang ekstra antar baris */
  }

  .ack-link img {
    display: block;
    /* Menghilangkan ruang bawah pada inline elements */
    width: 100%;
    /* Menyesuaikan lebar gambar */
    height: auto;
    /* Menyesuaikan tinggi gambar */
    vertical-align: middle;
    /* Menghilangkan ruang putih di bawah gambar */
    margin-bottom: -30px;
    /* Sesuaikan ini jika masih ada jarak */
  }
</style>


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
{% endblock custom_css %}

{% block content %}
<!-- ***** Header Area Start ***** -->
{% include "partials/header.html" %}
<!-- ***** Header Area End ***** -->

<!-- CAROUSEL HOVER-->

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <!-- First Slide -->
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <!-- Your left content for the first slide -->
              <div class="left-content show-up header-text wow fadeInLeft">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Mudah digunakan</h2>
                    <p>Aplikasi ini mengikuti tren teknologi dalam mendiagnosa penyakit kentang berdasarkan daun -
                      mudah digunakan dan terhubung dengan akun Google.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="https://app.potadi.ai">Mulai Diagnosa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight">
                <img src="{% static 'assets/images/konten_1.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Slide -->
      <div class="carousel-item" data-bs-interval="3000">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <!-- Your content for the second slide -->
              <div class="left-content show-up header-text wow fadeInLeft">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Solusi terpercaya</h2>
                    <p>Aplikasi ini dibangun menggunakan teknologi Artificial Intelligence khususnya Deep Learning.
                      Sebelum dirilis, aplikasi ini telah diuji dengan hasil akurasi 98%..</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="https://app.potadi.ai">Mulai Diagnosa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight">
                <!-- Your image for the second slide -->
                <img src="{% static 'assets/images/konten_2.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Third Slide -->
      <div class="carousel-item" data-bs-interval="3000">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <!-- Your content for the third slide -->
              <div class="left-content show-up header-text wow fadeInLeft">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Assisten Anda</h2>
                    <p>Diagnosa penyakit dan memberikan arahan bagaimana cara penyelesaian yang terbaik, artikel dan
                      tutorial dan asisten personal.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="https://app.potadi.ai">Mulai Diagnosa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight">
                <!-- Your image for the third slide -->
                <img src="{% static 'assets/images/konten_3.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4><em>Diagnosa &amp; identifikasi penyakit</em> Tanaman Kentang</h4>
          <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
          <p>Kami tidak bisa membiarkan tanaman kentang Anda menderita gangguan dan kerusakan akibat berbagai
            penyakit. Mari kita mulai pengidentifikasi penyakit tanaman kentang menggunakan POTADI (Potato Disease
            Identification).</p>
        </div>
      </div>
    </div>
  </div>

  <section id="disease" class="disease">
    <div class="container" data-aos="fade-up">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>Disease</h4>
          <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card service-item first-service">
            <img src="{% static 'assets/images/card1.jpg' %}" class="card-img-top" alt="App Maintenance Image">
            <div class="card-body">
              <h5 class="card-title">Normal</h5>
              <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
              <a href="{% url 'healthy' %}" class="btn btn-primary">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card service-item first-service">
            <img src="{% static 'assets/images/card2.jpg' %}" class="card-img-top" alt="Rocket Speed of App Image">
            <div class="card-body">
              <h5 class="card-title">Early Blight</h5>
              <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
              <a href="{% url 'early' %}" class="btn btn-primary">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card service-item first-service">
            <img src="{% static 'assets/images/card3.jpg' %}" class="card-img-top" alt="Multi Workflow Idea Image">
            <div class="card-body">
              <h5 class="card-title">Late Blight</h5>
              <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
              <a href="{% url 'late' %}" class="btn btn-primary">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div><br><br><br>

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Testimonials</h2>
      <p>Testimoni ini adalah cerminan dari kepuasan mereka dan sekaligus menjadi inspirasi bagi kami untuk terus
        meningkatkan layanan kami.</p>
      <p>Kami percaya bahwa pengalaman mereka dapat memberikan gambaran yang jelas tentang nilai dan keandalan
        potadi.ai. </p>
      <p>Terima kasih telah menjadikan kami bagian dari perjalanan pertanian Anda. </p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              potadi.ai dapat mengidentifikasi penyakit pada daun kentang di kebun saya dan membantu saya mengambil
              langkah-langkah pencegahan yang tepat dan meningkatkan hasil panen saya.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
            <h3>Testi 1</h3>
            <h4>Petani Kentang</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Sebagai petani kentang, potadi.ai memudahkan dalam deteksi penyakit daun kentang serta mendapatkan hasil
              analisis yang jelas.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
            <h3>Testi 2</h3>
            <h4>Petani Kentang</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Pengalaman menggunakan potadi.ai mengesankan, Saya tidak hanya mendapatkan hasil deteksi penyakit secara
              cepat, tetapi juga rekomendasi perawatan yang berguna.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
            <h3>Testi 3</h3>
            <h4>Petani Kentang</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              potadi.ai adalah solusi yang diperlukan bagi para petani dengan antarmuka yang ramah pengguna dan hasil
              analisis yang mudah dipahami.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
            <h3>Testi 4</h3>
            <h4>Petani Kentang</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proses deteksi penyakit di potadi.ai cepat dan akurat sehingga saya dapat segera mengambil
              langkah-langkah perbaikan yang diperlukan.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
            <h3>Testi 5</h3>
            <h4>Petani Kentang</h4>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->
<br><br><br>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>
      <p>Silakan hubungi kami menggunakan informasi atau gunakan formulir kontak dibawah ini.</p>
    </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Lokasi:</h4>
            <p>Jl. Ring Road Utara, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta
              55281</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>potadi@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telepon:</h4>
            <p>(62)81222333444</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">
        <form action="{% url 'send_email' %}" method="post" role="form" class="php-email-form">
          {% csrf_token %}
          <div class="row gy-2 gx-md-3">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nama" required>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group col-12">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subjek" required>
            </div>
            <div class="form-group col-12">
              <textarea class="form-control" name="message" rows="5" placeholder="Pesan" required></textarea>
            </div>
            <div class="my-3 col-12">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message"></div>
            </div>
            <div class="text-center col-12"><button type="submit">Send Message</button></div>
          </div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

<!-- ***** Footer Start ***** -->
{% include "partials/footer.html" %}
<!-- ***** Footer End ***** -->
{% endblock %}