{% extends "layout/base.html" %}
{% block title %}Early Blight{% endblock title %}
{% load static %}
{% block content %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="{% url 'home' %}"></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="{% url 'home' %}" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
        <li><a class="nav-link scrollto active" href="#">Late Blight</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-8 d-flex align-items-stretch custom-border" data-aos="zoom-in" data-aos-delay="100">
        <div class="section-title text-start text-justify">
          <h2 class="text-center">Late Blight</h2>
          <figure class="figure w-29 float-start m-3">
            <img src="{% static 'assets/images/normal.png' %}" class="figure-img img-fluid rounded img-thumbnail"
              alt="Alt text.">
          </figure>
          <h5>Late Blight (Busuk Daun)</h5>
          <p class="text-justify">
            Penyakit late blight (hawar daun kentang) adalah salah satu penyakit paling merusak yang dapat memengaruhi
            tanaman kentang. Disebabkan oleh Phytophthora infestans, dengan gejala bercak-bercak berair yang berkembang
            menjadi kerak berwarna coklat tua di daun kentang. Late blight dapat menyebabkan kerusakan cepat pada
            tanaman dan berdampak pada hasil panen. Penyakit busuk daun (late blight) akan timbul pada masa pertumbuhan
            tanaman antara minggu ke 5-6, gejala awal penyakit busuk daun ini adalah adanya bercak basah di bagian tepi
            daun dan bisa juga pada bagian tengah. Kemudian bercak ini akan melebar dan warna daun berubah warna mejadi
            coklat/abu-abu.</p>
          <p><b>
              Tanda Gejala Kerusakan :</b>
          <ol class="text-justify">
            <li>Bercak-bercak Berair pada Daun: Tanda paling mencolok dari late blight adalah munculnya bercak-bercak
              besar berair pada daun tanaman kentang. Bercak-bercak ini awalnya tampak seperti bercak berwarna hijau tua
              hingga kecoklatan dan biasanya berbatasan tegas dengan daun yang sehat.</li>
            <li>Perkembangan Cepat: Bercak-bercak late blight dapat berkembang dengan sangat cepat, terutama dalam
              kondisi lembab dan dingin. Dalam beberapa hari, bercak-bercak ini dapat membesar dan menyatu, menyebabkan
              kerusakan yang signifikan pada daun tanaman.</li>
            <li>Umbi Kentang yang Terinfeksi: Selain daun, late blight juga dapat memengaruhi umbi kentang. Ketika
              penyakit ini menyerang umbi, gejalanya meliputi luka-luka kecil berwarna coklat gelap hingga hitam pada
              kulit umbi. Ini dapat membuat umbi menjadi tidak layak konsumsi dan mempengaruhi hasil panen.</li>
            <li>Bau Tidak Sedap: Daun dan umbi yang terinfeksi late blight seringkali memiliki bau tidak sedap yang
              mudah dikenali. Bau ini sering dijelaskan sebagai bau busuk atau bau jamur.</li>
            <li>Kerontokan Daun: Daun-daun yang terinfeksi late blight cenderung mengering, berubah menjadi warna hitam
              atau kecoklatan, dan akhirnya rontok. Ini menyebabkan tanaman menjadi tidak produktif dan dapat
              mempercepat penyebaran penyakit.</li>
            <li>Spora Putih pada Permukaan Daun: Ketika cuaca lembab, Anda mungkin melihat spora putih (jamur) yang
              terbentuk di permukaan daun yang terinfeksi. Ini adalah tahap reproduksi dari jamur Phytophthora infestans
              dan membantu dalam penyebaran penyakit.</li>
            <li>Pengaruh Cuaca: Late blight seringkali lebih aktif dan merusak pada musim hujan atau lembab, terutama
              jika suhu malam turun. Cuaca yang mendukung perkembangan jamur ini, seperti hujan dan embun, mempercepat
              penyebaran penyakit.</li>
            <!-- ... (Tambahkan poin-poin lainnya) ... -->
          </ol>
          </p>
          <p><b>
              How to prevent :</b>
          <ol class="text-justify">
            <li>Pilih Varietas yang Tahan: Pilih varietas kentang yang memiliki ketahanan terhadap late blight jika
              tersedia. Varietas tahan cenderung lebih resisten terhadap infeksi dan dapat membantu mengurangi risiko
              penyakit.</li>
            <li>Rotasi Tanaman: Praktik pertanian yang paling efektif dalam mencegah late blight adalah rotasi tanaman.
              Jangan menanam tanaman kentang atau tanaman anggota keluarga Solanaceae di lokasi yang sama setiap tahun.
              Ini membantu mengurangi penyebaran spora penyakit yang dapat mengendap di tanah.</li>
            <li>Penghapusan Daun yang Terinfeksi: Jika Anda melihat tanda-tanda late blight pada daun tanaman kentang,
              segera potong atau cabut daun-daun yang terinfeksi. Jangan membuang daun-daun yang terinfeksi ke dalam
              kompos, karena spora penyakit dapat tetap hidup dalam kompos. Alihkan daun-daun yang terinfeksi dari area
              pertanian.</li>
            <li>Praktik Pertanian yang Baik: Pastikan tanaman kentang mendapatkan cukup nutrisi dan air yang seimbang.
              Tanaman yang sehat cenderung lebih tahan terhadap penyakit. Juga, hindari over-fertilization, karena
              tanaman yang terlalu subur dapat menjadi lebih rentan terhadap late blight.</li>
            <li>Penyiraman yang Tepat: Hindari penyiraman di malam hari dan usahakan untuk menyiram tanaman di pagi
              hari. Ini membantu daun dan tanaman kentang tetap kering sepanjang malam, mengurangi risiko infeksi late
              blight.</li>
            <li>Penggunaan Mulsa: Menyediakan lapisan mulsa di bawah tanaman kentang dapat membantu mencegah tanah dari
              percikan air yang dapat membawa spora penyakit. Mulsa juga membantu menjaga kelembaban tanah.</li>
            <li>Monitor Cuaca: Pantau perkiraan cuaca setempat dengan cermat. Late blight lebih aktif dan merusak saat
              kondisi cuaca lembab dan dingin. Ketika cuaca cocok untuk perkembangan late blight, pertimbangkan untuk
              mengambil tindakan pencegahan.</li>
            <li>Penggunaan Fungisida: Jika ada riwayat penyakit late blight di daerah Anda atau jika cuaca mendukung
              perkembangan penyakit, Anda mungkin perlu menggunakan fungisida. Pastikan untuk mengikuti petunjuk dan
              dosis yang dianjurkan pada label produk.</li>
            <li>Penyuluhan dan Pendidikan: Dalam praktik pertanian komersial, penting untuk mendapatkan informasi dari
              ahli pertanian atau konsultan tentang strategi pengendalian late blight yang efektif.</li>
            <li>Kebersihan dan Sanitasi: Pastikan area sekitar pertanian Anda bersih dari sisa-sisa tanaman dan gulma,
              yang dapat menjadi inang penyakit.</li>
          </ol>
          </p>
          <div id="services" class="services section">
            <div class="container">
              <div class="col-lg-8">
                <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                  <h4>More...</h4>
                  <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="card service-item first-service">
                    <img src="{% static 'assets/images/card1.jpg' %}" class="card-img-top" alt="App Maintenance Image">
                    <div class="card-body">
                      <h5 class="card-title">Normal</h5>
                      <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                      <a href="{% url 'healthy' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i
                          class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card service-item first-service">
                    <img src="{% static 'assets/images/card2.jpg' %}" class="card-img-top"
                      alt="Rocket Speed of App Image">
                    <div class="card-body">
                      <h5 class="card-title">Early Blight</h5>
                      <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                      <a href="{% url 'early' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i
                          class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card service-item first-service">
                    <img src="{% static 'assets/images/card3.jpg' %}" class="card-img-top"
                      alt="Multi Workflow Idea Image">
                    <div class="card-body">
                      <h5 class="card-title">Late Blight</h5>
                      <p class="card-text">Daun terlihat segar dan tidak ada bintik-bintik pada daun ini …</p>
                      <a href="{% url 'late' %}" class="btn btn-primary" style="margin-top: 8px;">Read More <i
                          class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sisipkan teks di sini -->
      </div>
    </div>
  </div>
</section>

{% endblock content %}