{% load static %}
<footer id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>
                        <img src="{% static 'assets/images/leaf.png' %}" alt="" height="50">
                        Potadi
                    </h4>
                    <p>Deteksi penyakit ini menggunakan lebih dari 6.000 dataset untuk melatih aplikasi ini. Model
                        aplikasi ini dibangun menggunakan teknologi Artificial Intelligence (AI). Rekomendasi
                        aplikasi ini dapat digunakan oleh petani untuk melakukan tindakan setelah tanaman mereka
                        terdeteksi penyakit.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Plant Care</h4>
                    <ul>
                        <li><a href="#">Plan Identifier</a></li>
                        <li><a href="#">Plant Problems</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">FaQ</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Potadi</h4>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Subcription Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Acknowledgement</h4>
                    <div class="logo">
                        <img src="{% static 'assets/images/ack.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>©2022-2023 Potadi.ai. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>