{% load static %}
<!-- ======= Header ======= -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home' %}" class="logo">
              <img src="{% static 'assets/images/leaf.png' %}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'home' %}#disease" class="{% if '/diseases/' in request.path %}active{% endif %}">Disease</a></li>
              <li class="scroll-to-section"><a href="{% url 'home' %}#testimonials">Testimonials</a></li>
              <li class="scroll-to-section"><a href="{% url 'home' %}#contact">Contact Us</a></li>
              <li class="scroll-to-section"><a href="{% url 'about' %}" class="{% if request.path == '/tentang-kami/' %}active{% endif %}">About Us</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href="https://app.potadi.ai"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
            </ul>         
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->